<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  
     <bean id="car" class="com.easylearning.Car"  init-method="myInit" 
     destroy-method="mydestory">
    	<property name="name" value="TATA"></property>
    	<constructor-arg value="BMW"></constructor-arg>
    </bean>
    
    
   
    
    

  
</beans>
